/* import default style sheet */
@import url(../../../stylesheets/application.css);

/*
 * wiki
 */
/* indent wiki plain text */
div.wiki {
	margin-left: 20px;
	margin-right: 20px;
}

/* no indent wiki headline */
div#preview h1, div#preview h2, div#preview h3 {
        margin-left: 0px;
}

div.wiki h1, div.wiki h2, div.wiki h3 {
	margin-left: -20px;
}

div#preview h1 {
        margin-right: 0px;
}

div.wiki h1 {
	margin-right: -20px;
}

div.wiki h2 {
	counter-increment: chapter;
	counter-reset: section;
}

div.wiki h2:before {
	content: counter(chapter) ". ";
}

div.wiki h3 {
	counter-increment: section;
}

div.wiki h3:before {
	content: counter(chapter) "." counter(section) ". ";
}

div.wiki h4 {
	border-bottom-width: 0px;
	text-decoration: underline;
}

/* code line number strong */
div.wiki span.no strong {
	color: #ff80a0;
	font-weight: normal;
}


/*
 * task list
 */
/* priority: high */
table.issues tr.odd.priority-3 {
	background-color: #ffe8f0;
}
table.issues tr.even.priority-3 {
	background-color: #fff0f8;
}

/* status: closed task */
table.issues tr.odd.closed {
	background-color: #e0e0e0;
}
table.issues tr.even.closed {
	background-color: #e9e9e9;
}

/* status: kaiketsu */
table.issues tr.odd.status-3 {
	background-color: #afff60;
}
table.issues tr.even.status-3 {
	background-color: #b0ff6f;
}

/* status: information */
table.issues tr.odd.status-8 {
	background-color: #c0e260;
}
table.issues tr.even.status-8 {
	background-color: #d0ea60;
}

/* status: in progress */
table.issues tr.odd.status-2 {
    background-color: #d0f0ff;
}
table.issues tr.even.status-2 {
    background-color: #e0f4ff;
}

/* update column width */
tr.issue {
    white-space: normal;
}


/*
 * create/update task
 */
/* issue date input field width */
input#issue_start_date, input#issue_due_date {
	width: 72px;
}

/* number input field text-align */
input#issue_estimated_hours, input#time_entry_hours {
	text-align: right;
}

